USE [AGRO]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 29/06/2025 23:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[CODIGOEMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAOEMPRESA] [varchar](120) NULL,
	[DATAHISTORICO] [datetime] NULL,
	[CNPJ] [varchar](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGOEMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPOPRODUTO]    Script Date: 29/06/2025 23:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOPRODUTO](
	[CODIGOGRUPOPRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAOGRUPOPRODUTO] [varchar](120) NULL,
	[DATAHISTORICO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGOGRUPOPRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFERTA]    Script Date: 29/06/2025 23:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA](
	[CODIGOOFERTA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAOOFERTA] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGOOFERTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 29/06/2025 23:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[CODIGOPRODUTO] [int] NOT NULL,
	[DESCRICAOPRODUTO] [varchar](120) NULL,
	[DATAHISTORICO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGOPRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO_OFERTA]    Script Date: 29/06/2025 23:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO_OFERTA](
	[CODIGOOFERTA] [int] NULL,
	[CODIGOPRODUTO] [int] NULL,
	[CODIGOGRUPOPRODUTO] [int] NULL,
	[CODIGOEMPRESA] [int] NULL,
	[QUANTIDADEFATOR] [numeric](20, 2) NULL,
	[QUANTIDADEEMBALAGEM] [numeric](20, 2) NULL,
	[UNIDADEMEDIDA] [varchar](5) NULL,
	[PRECOUNITARIO] [float] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPRESA] ON 

INSERT [dbo].[EMPRESA] ([CODIGOEMPRESA], [DESCRICAOEMPRESA], [DATAHISTORICO], [CNPJ]) VALUES (1, N'TerraBoa', CAST(N'2025-05-13T21:36:48.423' AS DateTime), N'69.024.351/0001-39')
INSERT [dbo].[EMPRESA] ([CODIGOEMPRESA], [DESCRICAOEMPRESA], [DATAHISTORICO], [CNPJ]) VALUES (2, N'Calcários MG', CAST(N'2025-05-13T21:36:48.423' AS DateTime), N'75.341.280/0001-09')
INSERT [dbo].[EMPRESA] ([CODIGOEMPRESA], [DESCRICAOEMPRESA], [DATAHISTORICO], [CNPJ]) VALUES (3, N'Preparo do Solo', CAST(N'2025-05-13T21:36:48.423' AS DateTime), N'94.270.561/0001-54')
SET IDENTITY_INSERT [dbo].[EMPRESA] OFF
GO
SET IDENTITY_INSERT [dbo].[GRUPOPRODUTO] ON 

INSERT [dbo].[GRUPOPRODUTO] ([CODIGOGRUPOPRODUTO], [DESCRICAOGRUPOPRODUTO], [DATAHISTORICO]) VALUES (1, N'Sementes', CAST(N'2025-05-13T21:36:48.423' AS DateTime))
INSERT [dbo].[GRUPOPRODUTO] ([CODIGOGRUPOPRODUTO], [DESCRICAOGRUPOPRODUTO], [DATAHISTORICO]) VALUES (2, N'Fertilizantes', CAST(N'2025-05-13T21:36:48.423' AS DateTime))
INSERT [dbo].[GRUPOPRODUTO] ([CODIGOGRUPOPRODUTO], [DESCRICAOGRUPOPRODUTO], [DATAHISTORICO]) VALUES (3, N'Defensivos Agrícolas', CAST(N'2025-05-13T21:36:48.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[GRUPOPRODUTO] OFF
GO
SET IDENTITY_INSERT [dbo].[OFERTA] ON 

INSERT [dbo].[OFERTA] ([CODIGOOFERTA], [DESCRICAOOFERTA]) VALUES (1, N'Oferta-Maio')
INSERT [dbo].[OFERTA] ([CODIGOOFERTA], [DESCRICAOOFERTA]) VALUES (2, N'Oferta-Junho')
INSERT [dbo].[OFERTA] ([CODIGOOFERTA], [DESCRICAOOFERTA]) VALUES (3, N'Oferta-Junho')
SET IDENTITY_INSERT [dbo].[OFERTA] OFF
GO
INSERT [dbo].[PRODUTO] ([CODIGOPRODUTO], [DESCRICAOPRODUTO], [DATAHISTORICO]) VALUES (10000001, N'Fertilizante NPK 10-10-10', CAST(N'2025-05-25T17:44:52.860' AS DateTime))
INSERT [dbo].[PRODUTO] ([CODIGOPRODUTO], [DESCRICAOPRODUTO], [DATAHISTORICO]) VALUES (10000002, N'Fertilizante Ureia', CAST(N'2025-05-25T17:44:52.860' AS DateTime))
INSERT [dbo].[PRODUTO] ([CODIGOPRODUTO], [DESCRICAOPRODUTO], [DATAHISTORICO]) VALUES (10000003, N'Fertilizante Fosfato Monoamônico (MAP)', CAST(N'2025-05-25T17:44:52.863' AS DateTime))
GO
INSERT [dbo].[PRODUTO_OFERTA] ([CODIGOOFERTA], [CODIGOPRODUTO], [CODIGOGRUPOPRODUTO], [CODIGOEMPRESA], [QUANTIDADEFATOR], [QUANTIDADEEMBALAGEM], [UNIDADEMEDIDA], [PRECOUNITARIO]) VALUES (1, 10000001, 2, 90, CAST(50.00 AS Numeric(20, 2)), CAST(1.00 AS Numeric(20, 2)), N'kg', 85.5)
INSERT [dbo].[PRODUTO_OFERTA] ([CODIGOOFERTA], [CODIGOPRODUTO], [CODIGOGRUPOPRODUTO], [CODIGOEMPRESA], [QUANTIDADEFATOR], [QUANTIDADEEMBALAGEM], [UNIDADEMEDIDA], [PRECOUNITARIO]) VALUES (1, 10000002, 2, 91, CAST(25.00 AS Numeric(20, 2)), CAST(1.00 AS Numeric(20, 2)), N'kg', 62)
INSERT [dbo].[PRODUTO_OFERTA] ([CODIGOOFERTA], [CODIGOPRODUTO], [CODIGOGRUPOPRODUTO], [CODIGOEMPRESA], [QUANTIDADEFATOR], [QUANTIDADEEMBALAGEM], [UNIDADEMEDIDA], [PRECOUNITARIO]) VALUES (1, 10000003, 2, 1, CAST(50.00 AS Numeric(20, 2)), CAST(1.00 AS Numeric(20, 2)), N'kg', 110)
GO
ALTER TABLE [dbo].[PRODUTO_OFERTA]  WITH CHECK ADD FOREIGN KEY([CODIGOOFERTA])
REFERENCES [dbo].[OFERTA] ([CODIGOOFERTA])
GO
ALTER TABLE [dbo].[PRODUTO_OFERTA]  WITH CHECK ADD FOREIGN KEY([CODIGOPRODUTO])
REFERENCES [dbo].[PRODUTO] ([CODIGOPRODUTO])
GO
ALTER TABLE [dbo].[PRODUTO_OFERTA]  WITH CHECK ADD FOREIGN KEY([CODIGOGRUPOPRODUTO])
REFERENCES [dbo].[GRUPOPRODUTO] ([CODIGOGRUPOPRODUTO])
GO
ALTER TABLE [dbo].[PRODUTO_OFERTA]  WITH CHECK ADD FOREIGN KEY([CODIGOEMPRESA])
REFERENCES [dbo].[EMPRESA] ([CODIGOEMPRESA])
GO
